body{
    font-family: 'Garamond', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

#title {
    background-color: #3891A6;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6{   
    line-height: 1.5;
}

div h3 span{
    font-weight: 200;
    text-align: justify;
}

.container-fluid{
    padding: 0 15% 10% 15%;
}



/* NAVBAR */

#mainNavBar {
    width: 100%;    
}

#navbarToggleSunsetHills{
    position: relative;
    right: 12%;
}

.navbar-dark .navbar-brand {
    position: relative;
    left: 12%;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 32px;
    color: darkorange;
    margin-right: 2%;
    width: 100%;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: limegreen;               
}

div hr {
    padding: 0;
    margin: 0;
    box-sizing: content-box;    
    overflow: visible;
    color: limegreen;
    border-top: 1px solid limegreen;
}

#topSection{
    margin-top: 9%;    
}

#topSection .row {
    padding: 0;
    height: 120%;
    
}

#title {
    background-image: url("/images/sunsetHillsBackground.png");
    background-size: cover;
    width: 100%;
    height: 80%;
    background-color: rgba(0,0,0,0.5);
}

#titleH1 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

#topSectionLeftColumn{
    position: relative;
    left: -10%;
}

#topSectionRightColumn{
    position: relative;
}

#portfolioButton {
    margin: 2rem 0;
    border: .5px solid limegreen;
    position: absolute;
    left: 40%;
}

#tryItOut {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
    height: 30vh;
}  

#tryItOut h4 span{
    font-size: 16px;
}

#tryItOut h2{
    color: darkorange;    
    margin-bottom: 2%;
    position: relative;
    left: 50%;
}

#tryItOutLeftColumn, #tryItOutRightColumn{
    position: relative;
}

#tryItOutLeftColumn{
    right: 9%;
}

#tryItOutEnterNumbers{
    margin-left: -2%;  
    margin-bottom: 5%;
}

.numberInput{        
    padding: 0;
    text-align: center;
}

#myChart{
    width: 120%!important;   
}

#sunsetBuildingsLabel{
    width: 100%;
    text-align: right;
}

#submitButton, #clearButton {
    width: 15%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkorange;
    border: none;
    position: relative;   
    padding-bottom: 0;
    margin-bottom: 0;
}
#submitButton{
    
}
#clearButton{
    margin-left: 3%;
}

#errorAlert{
   text-align: center;
    font-size: 24px;
    color: red;
    width: 100%;
    text-transform: uppercase;
   
}

#errorAlertButton{
    background-color: red;
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase; 
    letter-spacing: 1em;    
}

div .swal-text{
    font-size: 24px;
    color: darkorange;
}

.swal-button {   
    background-color: #3891A6;    
}

div .swal-title {
    font-size: 32px;
    color: #3891A6;
}
/* Code */
/*.language-javascript {
    position: relative;
    display: block;
}
*/

#code .h1 {    
    color: #FFF;
    margin-top: 5%;
    position: relative;
    left: 40%;
}

#code {
    background-image: url("/images/sunsetHillsCodeBackground.jpg");
    background-size: contain;
    width: 100%;
    height: 80%;
}


/*  PRESS  */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px 20px;
}

/* PRICING */

#pricing{
    padding: 100px;    
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Contact bottom Section */
#contact{
    background-color: #FF4C68;
    padding: 5% 20%;    
}

.font-weight-bold{/*Contact Me Title*/    
    color: darkorange;
}

#contact h3{   
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
    color: #FFFFFF;
}

#contactButton{
    border:1px solid gray;
    width: 25%;
}

/* FOOTER  */
footer{
    margin: 7%;
}

footer p{    
    font-weight: 500;
    color: #8f8f8f;
}

footer i{
    margin-right: 2%;
}

/* FONT AWESOME */
.fa, .fas{
    font-size: 2rem;
    color: darkorange;  
    margin-bottom: 1rem;  
}

.fa:hover, .fab:hover, .fas:hover{
    color: darkorange;
}

/*  MEDIA QUERIES  */

@media screen and (max-width: 1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
        text-align: center;
    }
    .titleH1{
        text-align: center;
    }
    .centerAlign{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .title-image {
      margin-top: 2%;
      width: 50%;
      z-index: 3;
      position: static;
      transform: rotate(0);           
      
    }    
    .download-button{
      margin-bottom: 0.2rem;     
    }  
}



